<div class="app-wrapper"
     [ngClass]="{'app-wrapper__light': selectedColorItem.id === 0, 'app-wrapper__dark': selectedColorItem.id === 1}"
>
  <div class="nav">
    <span class="title">User list</span>
    <div class="settings">
      <app-custom-select [rows]="colorItems" [(selectedRow)]="selectedColorItem"></app-custom-select>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="content">
      <div class="search-wrapper">
        <app-search [(filterVal)]="filterVal"></app-search>
      </div>
      <div class="table-container">
        <div class="table">
          <div class="thead">
            <div class="tr">
              <div class="th">ID</div>
              <div class="th">Name</div>
              <div class="th">E-Mail</div>
              <div class="th">Actions</div>
            </div>
          </div>
          <div class="tbody">
            <div class="tr" *ngFor="let user of userList | filterByName:filterVal:'name'">
              <div class="td">
                {{user.id}}
              </div>
              <div class="td">
                <span class="link" (click)="onNameClick(user.id)">{{user.name}}</span>
              </div>
              <div class="td">
                {{user.email}}
              </div>
              <div class="td">
                <span class="link" (click)="onEditClick(user)">edit</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
